# PostgreSQL
POSTGRES_USER=jobboard
POSTGRES_PASSWORD=jobboard123
POSTGRES_DB=jobboard_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# MongoDB
MONGO_URI=mongodb://mongo:27017
MONGO_DB_JOBS=jobsdb
MONGO_DB_CANDIDATES=candidatesdb

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Applications Service
APPLICATIONS_PORT=8001

# Jobs Service
JOBS_PORT=8002

# Candidates Service
CANDIDATES_PORT=3000
